*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.home
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo
{
    position: relative;
    max-width: 200px;
}

header ul 
{
    position: relative;
    display: flex;
    top:0;

}

header ul ul  
{
    position: absolute;
    max-width: 100%;
    top: 2.5vh;
    visibility: hidden;
    
    

}

header ul li:hover > ul
{
    visibility: visible;
}

header ul ul  li
{
    position: relative;
    float: none;
    display: list-item;

    

}

header ul li 
{
    list-style: none;

    display: inline-block;
    color: #333;
    font-weight: 550;
    margin-left: 40px;
    font-size: 20px;
    text-decoration: none;
}

header ul li a 
{
    display: inline-block;
    color: #333;
    font-weight: 550;
    /* margin-left: 40px; */
    font-size: 20px;
    text-decoration: none;
    

}

header ul li a:hover
{
    color: #44e314;
}

.content 
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content .textBox 
{
    position: relative;
    max-width: 600px;
    color: black;
}

.content .textBox h2 
{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;

}

.content .textBox h2 span
{
    color: #27ce11;
    font-size: 1.2em;
    font-weight: 900;

}

.content .textBox a 
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #27ce11;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;

}

.content .imgBox
{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;

}

.content .imgBox img 
{
    max-width: 340px;

}

.sci li:hover
{
    transform: translate(-4px, -4px);
}

.sci
{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li 
{
    list-style: none;
}

.sci li a 
{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    
}

.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2eed27;
    clip-path: circle(600px at bottom right);
}

.removeDot
{
    border: none;
    background: none;
    position: absolute;
    margin-left: 2vh;
    margin-top: -7%;
}

.profilePic 
{
    size: 10px;
}





/*******************************************The decision page*********************************************************/


/*******************************************The list page*********************************************************/
.page
{
    font-family: cursive;
    letter-spacing: 0.1rem;
    background-image: linear-gradient(90deg, #e8b6b6, 2px, rgba(225, 225, 0), 
    2px, rgba(225, 225, 225, 0)), 
    linear-gradient(0, #d9eaf3, 1px, rgba(225, 225, 225, 0), 2px, rgba(225, 225, 225, 0));
    background-position: 4rem 0;
    background-size: 100% 2.4rem;
    height: 100vh;
    color: #111;
    padding: 2.8rem 0 0 5rem;
    white-space: nowrap;
    counter-reset: listCounter;
}

.listTitle
{
    font-size: 3.2rem;
    font-size: 700;
    margin-bottom: 0.6rem;
    border-bottom: 2px solid #111;
}

.continuous-list
{
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 2.8rem;
}
